body { 
    height: 100vh;
    margin: 0;
    color: aliceblue;
    background: linear-gradient(
        to right bottom, 
        #0B0c10 0%,
        #0B0c10 55%, 
        #1F2833 65%,
        rgb(9, 210, 210) 80%,
        rgb(6, 225, 225) 100%
    );
    
}

#title { 
    color: #66FCF1;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#tittle { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flights-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C5C6C7;
}

#destination { 
    color: #66FCF1;
    margin: 40px;
}

.airport { 
    color: #C5C6C7;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

select { 
    color: #66FCF1;
    background-color: #0B0c10;
    padding: 10px;
    border: 1px solid #66FCF1;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 152px;
}

.date { 
    color: #66FCF1;
    background-color: #0d0e13;
    padding: 10px;
    border: 1px solid #66FCF1;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 136px;
}

.Add-distination { 
    color: #66FCF1;
    background-color: #0d0e13;
    padding: 10px;
    border: 1px solid #66FCF1;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 250px;
}

tr { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    margin-left: 150px;
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#date-title { 
    border-left: 7px solid #1F2833;
    border-radius: 300px;
    padding-left: 30px;
}

.flight-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flight { 
    color: #66FCF1;
}